.header-content {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.links {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    gap: 1rem;
}

/* hero section */
.hero {

    display: flex;
    background-color: #1f2937;

    justify-content: space-around;

}


.main-text .hero-header {

    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    
}

.main-text .hero-paragraph {

    font-size: 18px;
    color: #E5E7EB;

}

.main-text button {

    font-size: 18px;
    color: #E5E7EB;    
    background-color: #3882f6;

}

.main-img {

    height: 250px;
    width: 250px;
    overflow: hidden;


}